@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
 box-sizing: border-box;
 margin: 0px;
 padding: 0;
}
.header {
    background-image: url("assets/code.svg"); 
    background-color: #fff
    height: 500px; 
    background-position: right;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.li, a, button {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration:none;
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px; 0px;
    background-color: #F2F2F2;
}

.Learn-to {
    cursor: auto;
    color: #20a8b4;
    margin-left: 0px;
    font-size: 22px;
    background-color: #F2F2F2;
}

.Code {
    cursor: auto;
    color: #ff5c0f;
    font-size: 22px;
    background-color: #F2F2F2;

}
.parent-container-flex-start li a:hover {
    color:#ff5c0f
}
.parent-container-flex-start {
    cursor: auto;
    display: flex;
    color: #20a8b4;
    background-color: #F2F2F2;
    list-style: none;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-start;
    position: relative;
 
}

.parent-container-flex-start a {
    transition: all 0.3s ease
    
}

parent-container-flex-start a:hover {
    color:#ff5c0f
}

child-element3:hover {
    background-color: #ff5c0f;
}
    
.child-element3 {
    color: #ff5c0f;
    padding: 1px;
    margin-left: 0px;
    position: absolute;
    right: 55%;
    top:35px;
    }
.child-element4 {
    color: #ff5c0f
    padding: 1px;
    margin-left: 0px;
    position: absolute;
    right: 44%;
    top:35px;
    }

.child-element5 {
    color: #ff5c0f
    padding: 1px;
    margin-left: 0px;
    position: absolute;
    right: 29%;
    top:35px;
    }

.child-element6 {
    color: #ff5c0f
    padding: 1px;
    margin-left: 0px;
    position: absolute;
    right: 15%;
    top:35px;
    }

.child-element7 {
    color: #ff5c0f
    padding: 1px;
    margin-left: 0px;
    position: absolute;
    right: 10px;
    top:25px;
    }
button {
    margin-left: 20px;
    padding: 10px;
    background-color:#20a8b4;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-color: #fff;
    font-family: Roboto;
    width: auto;
}

button:hover {
    background-color: #ff5c0f;
}

.mid-page {
    list-style:none;
    padding: 15px;
}

.image {
    display: flex;
    align-self: right;
    width: 500px;
    height: 500px;
}
.landing-page-container {
    width: 60%;
    min-height: 100%;
    height: 100vh;
   
}

@media screen and (min-width:768px){
    body{
        display:initial;
        font-size: 20px;
        }
    .parent-container-flex-start{
        flex-direction: row;
        font-size:25px;
        justify-content: space-between;
    }
    .
}