@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* 
{
 box-sizing: border-box;
 margin: 0px;
 padding: 0;
}


.parent-container-flex-start {
    flex-direction: column;
    font-size:25px;
    justify-content: space-between;
}
.header {
    justify-content: flex-start;
    font-size:30px;
    padding-top:10px;
    font-family: "Roboto";
    background-color: #F2F2F2;
}
            
.li, a, button {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration:none;
    display: flex;
    flex-direction: column;
}
            
span {
    color:#ff5c0f;
}
    
.Learn-to {
    cursor: auto;
    color: #20a8b4;
    margin-left: 0px;
    font-size: 22px;
    font-family: "Roboto";
    background-color: #F2F2F2;
}
            
.parent-container-flex-start li a:hover {
    color:#ff5c0f
}
.parent-container-flex-start {
    cursor: auto;
    display: flex;
    color: #20a8b4;
    list-style: none;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    position: relative;
}
            
                
button {
    margin-left: 20px;
    padding: 10px;
    background-color:#20a8b4;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-color: #fff;
    font-family: Roboto;
    width: 100%;
}
            
button:hover {
    background-color: #ff5c0f;
}
  
a:hover {
    pointer: cursor;
    color: #ff5c0f;
}
.mid-page {
    list-style:none;
    padding: 15px;
}
img {
    display: none;
}          

/* main page */
@media screen and (min-width:768px) {

header {
    background-color: #fff;
    height: 200px; 
    font-family: "Roboto";
}

.parent-container-row {
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    display: flex;
    align-items: center;
    align-content: right;
    list-style: none;
}

.li, a, button {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

a:hover {
    pointer: cursor;
    color: #ff5c0f;
}

span {
    color:#ff5c0f;
}

.Learn-to {
    cursor: auto;
    color: #20a8b4;
    margin-left: 0px;
    font-size: 22px;
    background-color: #F2F2F2;
}

button {
    margin-left: 20px;
    padding: 10px;
    background-color:#20a8b4;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Roboto;
    width: auto;
}
button:hover {
    background-color: #ff5c0f;
}

.parent-container-flex-end {
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    align-content: right;
    list-style: none;
}

img {
    display: flex;
    align: right;
    height: 500px;
    width: 500px;
}
}

    
